.auth {
  min-height: 100vh;
  min-width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #202020;
  z-index: 2;
}

.auth__container {
  padding: 70px 0;
  max-width: 396px;
  min-height: calc(100vh - 140px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

@media screen and (max-width: 821px) {
  .auth__container {
    min-height: calc(100vh - 46vh);
    padding: 23vh 0; 
  }
}

@media screen and (max-width: 480px) {
  .auth__container {
    min-height: calc(100vh - 86px);
    padding: 56px 0 30px; 
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .auth__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.auth__greeting {
  margin: 40px 0 45px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (max-width: 480px) {
  .auth__greeting {
    margin: 50px 0 80px;
  }
}

.auth__submit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth__submit-button {
  min-width: 100%;
  height: 45px;
  margin-top: 46px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: none;
  border-radius: 3px;
  background-color: #4285F4;
  transition: opacity .2s ease-in;
}

.auth__submit-button:hover {
  cursor: pointer;
  opacity: .7;
}

.auth__submit-button:disabled {
  cursor: auto;
  background-color: #DADADA;
  opacity: 1;
  color: #8B8B8B;
}

@media screen and (max-width: 480px) {
  .auth__submit-button {
    min-width: 260px;
    font-size: 12px;
    line-height: 15px;
  }
}

.auth__question {
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8B8B8B;
}

@media screen and (max-width: 480px) {
  .auth__question {
    font-size: 12px;
    line-height: 15px;
  }
}

.auth__link {
  padding: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4285F4;
  text-decoration: none;
  transition: opacity .2s ease-in;
}

.auth__link:hover {
  cursor: pointer;
  opacity: .7;
}

@media screen and (max-width: 480px) {
  .auth__link {
    font-size: 12px;
    line-height: 15px;
  }
}