.page {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-rendering: optimizeLegibility;
  background-color: #202020;
  min-height: 100vh;
}

.logo {
  width: 38px;
  height: 38px;
}