.paganation {
  display: flex;
}

.paganation__more-btn {
  margin:  50px auto 80px;
  padding: 11px 0 9px;
  min-width: calc(100% - 140px);
  background-color: #2F2F2F;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  transition: background-color .2s ease-in;
}

.paganation__more-btn:hover {
  cursor: pointer;
  background-color: #383838;
}

@media screen and (max-width: 767px) {
  .paganation__more-btn {
    min-width: calc(100% - 60px);
  }
}

@media screen and (max-width: 560px) {
  .paganation__more-btn{
    min-width: 340px;
  }
}

@media screen and (max-width: 400px) {
  .paganation__more-btn {
    min-width: 300px;
  }
}