.search {
  min-width: 100%;
}

.search__container {
  max-width: calc(100% - 140px);
  margin: 0 auto;
  padding-top: 80px;
}

@media screen and (max-width: 767px) {
  .search__container {
    max-width: calc(100% - 60px);
  }
}

@media screen and (max-width: 480px) {
  .search__container {
    max-width: calc(100% - 28px);
  }
}

.search__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid #424242;
}

.search__line {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 28px;
}

@media screen and (max-width: 767px) {
  .search__line {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 480px) {
  .search__line {
    padding-bottom: 46px;
  }
}

.search__inpup {
  padding: 0 0 0 20px;
  min-width: calc(100% - 54px - 20px);
  min-height: 50px;
  border: none;
  border-radius: 8px;
  background-color: #2F2F2F;
}

@media screen and (max-width: 480px) {
  .search__inpup {
    min-height: 44px;
  }
}

.search__submit-btn {
  padding: 0;
  width: 44px;
  height: 44px;
  background-color: #4285F4;
  border: none;
  border-radius: 8px;
  background-image: url(../../images/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
