.header {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #202020;
}

.header_type_main {
  background-color: #073042;
}

/* ---------------------------------- */

.header__container {
  padding: 18px 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 769px) {
  .header__container {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 480px) {
  .header__container {
    padding: 18px 14px;
  }
}

.header__logo-link {
  height: 38px;
  transition: opacity .2s ease-in;
}

.header__logo-link:hover {
  cursor: pointer;
  opacity: .7;
}