.header {
  min-width: 320px;
  max-width: 1280px;
  height: 74px;
  margin: 0 auto;
}

/* ---------------------------------- */

.header__container {
  padding: 18px 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header__container {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 460px) {
  .header__container {
    padding: 18px 14px;
  }
}